@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
                <a href="@Html.Action("Index","Character")">Go to Character</a>
            </p>
        </div>
    </section>
}

<h2>this is just practice for angularjs http://fdietz.github.io/recipes-with-angular-js/index.html</h2>

<h5>upload a file -http://jsfiddle.net/JeJenny/ZG9re/</h5>


<div ng-controller="OrganizationCtrl">
    <h6>test 15 - Add Character</h6>
    <form ng-submit="addChara()">
        <label>Name</label> <input type="text" ng-model="charaName"/>
        <label>Organization</label>
        <select id="sel2" class="input-block-level" ng-model="orgId" ng-options="obj.id as obj.name for obj in listAllOrg.data"></select>
        <input type="submit"/>
    </form>

    <h6>test 14 - Get dropdown of all organizations</h6>
    <select id="sel" class="input-block-level" ng-model="list_category" ng-options="obj.id as obj.name for obj in listAllOrg.data"></select>
    <p>$scope.list_category: {{list_category}}</p>
    
    <h6>test 13 - Add Organization</h6>
    <form ng-submit="addOrg()">
        <input type="text" ng-model="orgName"/>
        <input type="submit"/>
    </form>
    

</div>

<h5>test 12 - preview a file</h5>
<div ng-controller="UploadController">
    <form action="/home/PostFile" method="post" enctype="multipart/form-data">
        <input name="file" id="file" type="file" ng-file-select="onFileSelect($files)" file-model="myFile"/>
        <input type="submit" ng-click="uploadFile()"></input>
    </form>

    <b>Preview:</b><br />
    <i ng-hide="imageSrc">No image choosed</i>
    <img ng-src="{{imageSrc}}" /><br/>
    <b>Progress:</b>
    <progress value="{{progress}}"></progress>
    

</div>

<h5>test 11 - posting a object</h5>
<div ng-controller="PersonPostController">
    {{person.name}} {{person.organization}}

    <form ng-submit="sendPost()">
        <label>Name</label><input ng-model="person.name"/>
        <label>Organization</label><input ng-model="person.organization"/>
        <button type="submit">Send</button>
    </form>
    
</div>

<h5>test 10 - posting a value</h5>
<div ng-controller="PostingController">
    {{hello.name}}

    <form ng-submit="sendPost()">
        <input ng-model="newName"/>
        <button type="submit">Send</button>
    </form>
    
</div>

<h5>test 9 - json to unsorted list</h5>
<div ng-controller="PersonController">
    <ul>
        <li ng-repeat="p in person">
            {{p.Name}} - crew member of {{p.Organization}}
        </li>
    </ul>
</div>

<h5>test 8 - get json from server</h5>
<div ng-controller="PersonController">
    {{person}}
</div>


<h5>test 7 - get string from server</h5>
<div ng-controller="ColorController">
    {{color}}
</div>

<div ng-controller="MyCtrl">
    <h5>test 6 - watch function</h5>
    Akb Member: {{greeting}}

    <h5>test 5 - angular function</h5>
    {{value}} <button ng-click="getIncrementedValue()">add 1</button>

    <h4>test 4 - angular filer</h4>
    Enter akb member name: <input type="text" ng-model="akbmember"/>
    <p>Hello {{akbmember|uppercase}}</p>


    <h4>test 3 - using controller in different file</h4>
    <button ng-click="toggle()">Toggle</button>
    <p ng-show="visible">Hello World!</p>
    {{name}}
</div>

<h4>test 2 - variable</h4>
Enter your name: <input type="text" ng-model="name"/>
<p>Hello {{name}}</p>

<h4>test 1 - basic stuff</h4>
<p>hihihi{{1+2}}</p>

<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
